<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>New Transaction></h1>
<div>User: <%= @user.name %></div>
<div>Amount: <%= @transaction.amount %></div>
<div>New Balance: <%= @flurbo.balance %></div>
</body>
</html>